$react-rater-link: #ffcc00 !default;
$react-rater-hover: #ffcc00 !default;
$react-rater-active: #ffcc00 !default;

.react-rater {
  display: inline-block;
  line-height: normal;
  > * {
    display: inline-block;
  }
  a {
    cursor: pointer;
    color: $react-rater-link;
    position: relative;
    &.will-be-active {
      color: $react-rater-hover!important;
    }
    &.is-active {
      color: $react-rater-active;
    }
    &.is-active-half:before {
      color: $react-rater-active;
      content: '\2605';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
    }
    &.is-disabled {
      cursor: default;
    }
  }
}
